form {
    margin: 2rem auto;
    width: 30rem;
    padding: 1rem;
}

h2 {
    text-align: center;
    font-size: 30px;
}

label {
    float:left;
    width: 10rem;
    text-align: center;
}

input[type=text], select {
    width: 13rem;
    margin: 0.1rem;
    display: inline-block;
    box-sizing: border-box;
}
body{
    background-color: linen;
}